.navbar{
  font-family: "Regular";  
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.01em;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
  .mobileButton{
    display: none;
  }
  .leftSide{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    letter-spacing: 0.02em;
  }
 
  .menu{
    display: flex;
    align-items: center;
    gap: 200px;
}
  


.Link:active{
  color: #FF3D00;
  cursor: pointer;
  
}
.Link:hover {
  color: #FF3D00;
cursor: pointer;
}


@media(max-width:1200px){
  .navbar{
    .menu{
      gap: 100px;
    }
  }
}


@media(max-width:715px){
 .navbar{
   width: 100%;
   display: flex;
   .leftSide{
    display: flex;
    justify-content: space-between;
    align-items: center;

   }
   .mobileButton{
    display: block;
    margin-top:1px;
    cursor: pointer;
    // position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 10;
  }
  .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    left: -150%;
    right: 0;
    top: 5;
    bottom: 0;
    font-size: 36px;
    gap: 80px;
    flex-wrap: wrap;
    // height: 100%;
    // width: 100%;
    z-index: 10;
    transition: top 0.1s;
  }
    .active{
      left: -40px;
      margin-bottom: 0px;
      height: 100%;
      backdrop-filter: blur(14px);
      transition: left 0.5s;
    }
  }
  
}
@media(max-width:400px){
  .navbar{
    font-size: 16px;
line-height: 28px;
img{
  width: 20px;
  height: 20px ;
}
  }
}
