::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Regular','sans serif'; 
  font-size: 16px;
  flex-wrap: wrap;
  background:rgba(255, 255, 255, 1);
  }


ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  
}


/* loader / loading */
.loader {
    width: 50px;
    height: 50px;
    border: 7px solid #d4c7f9;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    
    /* Fonts */
    
    @font-face {
      font-family: "Regular";  
      src: url("./assets/fonts/Neue-montreal/NeueMontreal-Regular.otf");
    }
    @font-face {
      font-family: "Bold";  
      src:url("./assets/fonts/Neue-montreal/NeueMontreal-Bold.otf");
    }
    @font-face {
      font-family: "Medium";  
      src:url("./assets/fonts/Neue-montreal/NeueMontreal-Medium.otf");
    }
    @font-face {
      font-family: "Light";  
      src: url("./assets/fonts/Neue-montreal/NeueMontreal-Light.otf");
    }
    @font-face {
      font-family: "QueensTrial-Italic";  
      src: url("./assets/fonts/Queens-trial/Queens_Trial/QueensCondensedTrial-Italic.ttf");
    }
    @font-face {
      font-family: "QueensTrial-ItalicBold";  
      src: url("./assets/fonts/Queens-trial/Queens_Trial/QueensCondensedTrial-BoldItalic.ttf");
    }
    @font-face {
      font-family: "QueensTrial-Italic-Light";  
      src: url("./assets/fonts/Queens-trial/Queens_Trial/QueensCompressedTrial-LightItalic.ttf");
    }
    @font-face {
      font-family: "thinItalic";  
      src: url("./assets/fonts/Queens-trial/Queens_Trial/QueensCompressedTrial-ThinItalic.ttf");
    }
    @font-face {
      font-family: "RegularQueens";  
      src: url("./assets/fonts/Queens-trial/Queens_Trial/QueensCompressedTrial-Regular.ttf");
    }
    @font-face {
      font-family: "Light2";  
      src: url("./assets/fonts/Neue-montreal/NeueMontreal-Light.otf");
    }
    @font-face {
      font-family: "QueensTrial-Regular";  
      src: url("./assets/fonts/Queens-trial/Queens_Trial/QueensTrial-Regular.ttf");
    }
 